<div id="<%= dom_id tile %>">
  <p>
    <strong>Mine:</strong>
    <%= tile.mine %>
  </p>

  <p>
    <strong>Revealed:</strong>
    <%= tile.revealed %>
  </p>

  <p>
    <strong>Flagged:</strong>
    <%= tile.flagged %>
  </p>

  <p>
    <strong>X pos:</strong>
    <%= tile.x_pos %>
  </p>

  <p>
    <strong>Y pos:</strong>
    <%= tile.y_pos %>
  </p>

  <p>
    <strong>Total surrounding mines:</strong>
    <%= tile.total_surrounding_mines %>
  </p>

  <p>
    <strong>Board:</strong>
    <%= tile.board_id %>
  </p>

</div>
