<% unless notice.nil? %>
  <p style="color: green"><%= notice %></p>
<% end %>
<% unless alert.nil? %>
<p style="color: red"><%= alert %></p>
<% end %>

<%= render @board %>

<table class="table table-bordered table-sm">
  <tbody>
    <% @tiles.each do |row| %>
      <tr>
        <% row.each do |tile| %>
          <% if tile.mine && tile.revealed %>
            <td><%= link_to image_tag('bomb.svg', style: 'height:34px;width:34px;'), board_check_surrounding_tile_path(board_id: @board.id, tile_id: tile.id), data: { turbo_method: :post } %></td>
          <% elsif tile.revealed && tile.total_surrounding_mines %>
            <td><%= tile.total_surrounding_mines %></td>
          <% else %>
            <td><%= link_to image_tag('empty_square.svg', style: 'height:34px;width:34px;'), board_check_surrounding_tile_path(board_id: @board.id, tile_id: tile.id), data: { turbo_method: :post } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "Back to boards", boards_path %>

  <%= button_to "Destroy this board", @board, method: :delete %>
</div>
