<p style="color: green"><%= notice %></p>

<%= render @board %>

<table class="table table-bordered table-sm">
  <tbody>
    <% @tiles.each do |row| %>
      <tr>
        <% row.each do |tile| %>
          <% if tile.mine %>
            <td><%= image_tag 'bomb.svg', style: 'height:34px;width:34px;' %></td>
          <% else %>
            <td><%= image_tag 'empty_square.svg', style: 'height:34px;width:34px;' %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "Back to boards", boards_path %>

  <%= button_to "Destroy this board", @board, method: :delete %>
</div>
